/** { border: 0.5px solid yellow; }
/* FONTS ------------------------------------------------*/
.font-redhat {
  font-family: 'Red Hat Display', sans-serif;
}

.fn1 { font-size: 2.35rem; }
.fn2 { font-size: 3.5rem; }
.fn3 { font-size: 2rem; }
.fn4 { font-size: 1.5rem; }
.fn5 { font-size: 1.15rem; }
.fn6 { font-size: }

.f1 { font-size: 3rem; }
.f2 { font-size: 2.5rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.25rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .875rem; }

.purplec {
    color: #9E00FF;
}

.weight-norm{
    font-weight: normal;
}

.weight-bolder{
    font-weight: 900;
}

/* CONTARTIES ------------------------------------------------*/

.maxw1{ max-width: 1rem; }
.maxw2{ max-width: 2rem; }
.maxw3{ max-width: 4rem; }
.maxw4{ max-width: 8rem; }
.maxw5{ max-width: 16rem; }
.maxw6{ max-width: 20rem; }
.maxw7{ max-width: 48rem; }
.maxw8{ max-width: 96rem; }

.diagonal-box {
    transform: skewY(-5deg)
}

.content {
    transform: skewY(5deg)
}

.handic:hover {
    /*webkit-filter: blur(4px);  Chrome, Safari, Opera 
    filter: blur(4px);
    transition: .3s ease-in-out;*/
    transform: scale(1.1);
    transition: .6s ease-in-out;
}

.handicon {
  transform: rotate(0deg);
  width: 60px;
  animation: moveUpDown 2s linear infinite;  
}

@keyframes moveUpDown {
  0% {}
  25% { transform: translate(0px, -13px); }
  50% { transform: translate(0px, 0px); }
  75% { transform: translate(0px, 13px); }
  100% {}
}

/* BURGER MENU ------------------------------------------------*/
.burgerButton{
    top:15px;
    right:15px;
    width:40px;
    height: 40px;
    
}

.burgline {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;    
}

